@charset "utf-8";
/*****************************
Colours
main background: #222;
content background:#444;
footer background: #333;
borders on header and main: #666;
main text: #d4d4d4;
header text: #eee;
footer text: #999;
anchor text: gold;
anchor hover: #fff;
text shadows - #000 (bottom right) and gold (top left)

Fonts
'Helvetica Neue', Calibri, Verdana, sans-serif;

Images
http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg
******************************/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-size: 3vh; /* default font-size = 1.0rem */
}

h1{
    color:#eee;
    font-family: Calibri,sans-serif;
    font-size:102px;
    text-shadow:-1px 1px 1px gold,1px -1px 1px #000;
    padding-top: 88px;
    padding-left:40px;
}

h3{
    color:#eee;
    font-family:Calibri,sans-serif;
    font-size:45px;
    margin-left:20px;
}

p{
    color:#d4d4d4;
    font-size:28px;
    padding:40px 20px 0px 20px;
    font-family: Verdana,sans-serif;
}

nav a, nav a:link, nav a:visited{
    text-decoration: none;
    color:gold;
    font-family:Calibri,sans-serif;
    font-size:28px;
    padding:0 37px;
}

nav a:hover, a:active{
    color:#fff;
}

nav ul{
    background-color:#444;
    border-top:10px solid #666;
    border-bottom:12px solid #666;
}

nav li{
    display:inline; 
    
}

#wrapper{
    border-left:202px solid #222;
    border-right:202px solid #222;
}

#masthead{
    background: url("http://griffis.edumedia.ca/mad9013/html-only/saturn.v1.jpg");
    background-position:top;
    background-repeat: no-repeat;
    padding-bottom: 90px;
    background-size: 100%;
    background-color: black;
}

#main{
    background-color: #444;
    padding-top: 35px;
    padding-bottom: 40px;
}

#footer{
    background-color: #333;
    padding-bottom: 40px;
}

#footer p{
    color:#999;
    font-size:20px;
}

#footer a{
    color:gold;
    font-size:20px;
}

#mainnav {
    text-align:justify;
    text-align-last:justify;
    line-height:50px;
    text-align:center;
}

img {
    height:50px;
    width:60px;
}
